*{
  box-sizing:   border-box;
  margin:0;
  padding:0;
  /* border: none; */
  position: relative;
  outline: none;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;

}
button{
  border:none;
}
button:focus{
  outline: none !important;
}
input{
  border: none;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration:none !important;
  color:black;
}
.flex-con{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.flex-col{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.background{
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Main1{
  margin-top:4.5rem;
}
.loader{
  height:5px;
  width:100%;
  position: absolute;
  top:-4.5rem;
  z-index:6;
  display:none;
}
.loads{
  height:100%;
  width:100%;
  background-color:red;
  animation: appear 3s linear;
}

/*Nav.js*/
.Nav{
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
  max-height:4.5em;
  width:100%;
  padding:1.5rem;
  color:black;
  background-color:white;
  position:fixed;
  top:0;
  z-index:5;
  flex-wrap: wrap;
}
.logo{
  height:100%;
  width:25%;
}
.options{
  width:50%;
  justify-content: space-evenly;
}
.icons{
  width:25%;
  justify-content: flex-end;
}
.icons >div>i{
  margin:0 1rem 0 1rem;
}
.home-icon{
  display:none;
}
.options>div>a{
  color:black;
  text-decoration: none;
  width:auto;
  padding-bottom:5px;
}
.options>div > a::before{
  content:"";
  height:2px;
  transition:1s ease;
  width:0%;
  position:absolute;
  bottom:0;
  background-color:black; 
}
.options>div>a:hover::before{
  transition:1s ease;
  width:100%;
}

/*SLidebar.js*/

.each-slide{
  height:520px;
  width:100%;
}
.bg{
  height:100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#title{
  font-size: 40px;
  color:white;
  padding-top:15%;
  padding-left:10%;
  text-shadow: 1px 2px black;
}
/*Shop.js*/
.Shop-con{
  padding:0rem 2rem 0rem 2rem;
  flex-wrap: wrap;
  flex-flow: row wrap;
  display:flex;
  margin-top:2rem;
}
.shop-options{
  margin:1rem;
  width:370px;
  overflow: hidden;
  border-radius: 5px;
}
.opt-img{
  transition:transform 1s ease;
  height: 100%;
  width: 100%;
}
.opt-img:hover{
  transform: scale(1.1);
}
.opt-names{
  right:0;
  margin-right:1rem;
  position: absolute;
  z-index:2;
  border: none;
  background-color:#AEB6BF  ;
  padding:.5rem;
  bottom:0;
  color:black;
  margin-bottom: 1rem;
  transition:1s ease;
}

.opt-names:hover{
  background-color:#E74C3C;
  color:white;
}
#f{
  height:18rem;
}
#s{
  height:14rem;
}
#wb{
  height:14rem;
}
#wc{
  height:18em;
}
#a{
  height:18rem;
}
#b{
  height:14rem;
}
.two{
  display: none;
}
/*Sale.js*/
.Sale{
  height:auto;
  max-width:100%;
}
.sale-gallery{
  max-width:100%;
  height:40vh;

}
.sale-main{
  margin-top:3rem;
  justify-content: flex-start;
}
.sidebar{
  width:25%;
  padding-bottom: 3rem;
}
.sale-con{
  width: 75%;
}
.sidebar>p, .sidebar>div{
  font-family: 'Montserrat', sans-serif;
  margin:0.3rem 0rem 0rem 4rem;
}

.sidebar>p>a{
  font-size:15px;
  color:#616A6B  ;
}
.slider{
  -webkit-appearance: none;
  height:5px;
  width:70%;
  background-color:#CFD8DC  ;
  border-radius: 5%;
  -webkit-appearance: none;

}
.slider::-webkit-slider-thumb{
  height:15px;
  width:15px;
  background-color: #607D8B;
  border-radius: 50%;
  -webkit-appearance: none;
}
.slider::-moz-slider-thumb{
  height:10px;
  width:10px;
  -webkit-appearance: none; /* Override default look */
  /* appearance: none; */
}
#search{
  margin-top: 2rem;
  border: 1px solid #d3d3d3;
  width:60%;
  height:50px;
}
#search-box{
  width:80%;
  font-size: 13px;  
  padding:0.8rem;
}
#find-btn{
  position: absolute;
  top:10px;
  right:15px;
  background-color: white;
  border:none;
}
/*x-faucets.js*/
.ItemCon{
  justify-content: space-evenly;
  max-width:100%;
  margin-top:2rem;
}
.sc-buttons{
  justify-content: left;
  /* padding-left:4.2rem; */
}
.sc-buttons>div>button{
  margin: 1rem;
  margin-bottom: 0rem;
  height: 3rem;
  width: 9rem;
  font-size: 13px;
  background-color:white;
  border:1px solid #E5E8E8 ;
  color: #7F8C8D  ;
  font-family: 'Montserrat', sans-serif;
}
.click-menu{
  margin:1rem;
  margin-top:0rem;
  text-align:justify;
  background-color:white;
  color:#7F8C8D;
  border:1px solid whitesmoke ;
  display:none;
  width:9rem;
  font-family: 'Montserrat', sans-serif;    
  animation: show 0.5s ease-out;
  position: absolute;
  z-index: 2;
}
.click-menu>ul{
  margin-bottom:0rem;
}
.click-menu>ul>li{
  padding:6px;
  font-size: 14px;
}
.click-menu>ul>li:hover{
  background: red;
  color:white;
}
.items-con{
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.items-col{
  justify-content: space-around;
  height:50rem;
}
.item{
  width:250px;
  height:22rem;
  margin-top:2rem;
}
#i1{
  height:18rem;
}
#i4{
  height:18rem;
}
#i2 {
  height:22rem;
}
#i3{
  height:22rem;
}
.cover{
  position: absolute;
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.4);
  display:none;
}
.cover > button {
  animation: comeUp 0.3s linear;
  position: absolute;
  bottom:0;
  left:28%;
  margin-bottom: 2rem;
}
.item-pic-con:hover .cover{
  display:block;
}
.details{
  font-family: 'Montserrat', sans-serif; 
  margin:10px;
  line-height: 1.8;
}
.details:hover .details>span{
  color:red;
}
/*Item.js*/
.Item{
  padding:1rem 1rem 1rem 1rem;
  font-family: 'Montserrat', sans-serif; 
}
.path{
  color:gainsboro;
  font-size: 12px;
}
.path>a{
  color:grey;
}
.item-main{
  margin-top:2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item-details{
 margin-left:3rem;
 color:grey;
}
.quantity-btn{
  height:3rem;
  width:3rem;
  border:none;
}
.quantity{
  display: inline-block;
  width:3rem;
  height:3rem;
  text-align:center;
}
.quantity-block{
  border:2px solid gainsboro;
  display:inline-block;
  height:3.1rem;
}
.item-options{
  justify-content:space-evenly;
  width:30rem;
  margin-bottom:2rem;
}
.item-options>select{
  height:3em;
  width:14rem;
  background: none;
  border-color:gainsboro;
}
.item-options>p{
  display: inline-block;
  height:3rem;
  text-align: center;
  font-size: 14px;
  padding-top:1rem; 
}
.cartHandle{
  justify-content:space-evenly;
  width:30rem;
  height:3rem;
}
.imgs{
  justify-content: space-around;
  width:40vw;
}
.item-img{
  height:400px;
  width:350px;
}
.item-img>img{
  height:100%;
  width: 100%;
}
.Item{
  width:100%;
}
.diff-img{
  /* max-width:120px; */
  margin-left:0rem;
}
.diff-img > button{
  margin-top:1rem;
}
.diff-img > button >img{
  width:80px;
}

/*media queries*/
 @media only screen and (max-width: 1080px) {
 
   .two{
     display: flex;
     justify-content: center;
   }
   .one{
     display: none;
   }
   #f{
    height:17rem;
  }
  #s{
    height:18rem;
  }
  #wb{
    height:17rem;
  }
  #wc{
    height:19rem;
  }
  #a{
    height:15rem;
  }
  #b{
    height:18rem;
  }
  #last-item{
    flex-direction: row;
    justify-content: space-between;
  }
} 
@media only screen and (max-width: 882px) {
  .last{
    flex-direction: column;
  }
  .Shop-con{
    justify-content: center;
  }
  .shop-options{
    width:500px;
    height:18rem;
  }
  .sidebar{
    width:35%;
  }
  .sale-con{
    width:65%;
  }
}


@media only screen and (max-width: 672px) {
  .Shop-con{
    justify-content: center;
  }
  .shop-options{
    width:370px;
  }
  .each-slide{
    height: 300px;
  }
}

@media only screen and (max-width:640px){
  .sc-buttons{
    justify-content: center;
    padding-left:0px;
  }
  .Sale{
    max-width:100%;
  }
.sale-main{
  display: block;
}
.ItemCon{
  display:block;
}
.sale-con{
  width:100%;
}
.sidebar{
  width:100%;
}
.items-con{
  align-items: center;
  justify-content: center;
}
.items-col{
  align-items: center;
  height:50rem;
}
.item{
  width:60vw;
  height:22rem !important;
}
}

@media only screen and (max-width: 500px) {

  .opt-names{
    margin:120px 0px 10px 200px!important;
    height:30px;
    width:90px;
    font-size: 10px;
    text-align: center;
  }
  .Shop-con{
    justify-content: center;
  }
  .shop-options{
    width:300px;
    height:10rem !important
  }
  .options{
    display: none;
  }
  .Nav{
    justify-content: space-between;
  }
.each-slide{
  height: 250px;
}
.l-icons{
  display:none;
}
.home-icon{
  display:block;
}
}
@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}
  /* .items-con{
  padding:2rem;
  flex-wrap:wrap;
  border: 1px solid;    
  justify-content: space-around;

  }
  .item{
  height:20rem;
  width:50%;
  background: whitesmoke;
  border:1px solid;
  }
  .col{
  display:flex;
  flex-direction: column;
  align-items: center;
  height:50rem;
  border:1px solid;
  justify-content: space-evenly;
  } 
  */
  @keyframes comeUp{
    from{
      margin-bottom:0rem;
    }
    to{
      margin-bottom:2rem;
    }
  } 
  @keyframes appear{
    from{
      width:0%;
    }
    to{
      width:100%;
    }
  }