*{
  box-sizing:   border-box;
  margin:0;
  padding:0;
  border:0 none;
  position: relative;
  outline: none;
  text-decoration: none;
}
a{
  text-decoration:none !important;
}
.flex-con{
  display:flex;
  flex-direction: row;
}
.flex-col{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.background{
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
}
.Main{
  margin-top:4.5rem;
}
/*Nav.js*/
.Nav{
  font-family: 'Comfortaa', cursive;
  max-height:4.5em;
  width:100%;
  padding:1.5rem;
  color:black;
  background-color:white;
  position:fixed;
  top:0;
  z-index:5;
  flex-wrap: wrap;
}
.logo{
  height:100%;
  width:25%;
}
.options{
  width:50%;
  justify-content: space-evenly;
}
.icons{
  width:25%;
  justify-content: flex-end;
}
.icons >div>i{
  margin:0 1rem 0 1rem;
}
.home-icon{
  display:none;
}
.options>div>a{
  color:black;
  text-decoration: none;
  width:auto;
  padding-bottom:5px;
}
.options>div > a::before{
  content:"";
  height:2px;
  transition:1s ease;
  width:0%;
  position:absolute;
  bottom:0;
  background-color:black; 
}
.options>div>a:hover::before{
  transition:1s ease;
  width:100%;
}

/*SLidebar.js*/

.each-slide{
  height:520px;
  width:100%;
}
.bg{
  height:100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#title{
  font-size: 40px;
  color:white;
  padding-top:15%;
  padding-left:10%;
  text-shadow: 1px 2px black;
}
/*Shop.js*/
.Shop-con{
  padding:0rem 2rem 0rem 2rem;
  flex-wrap: wrap;
  flex-flow: row wrap;
  display:flex;
  margin-top:2rem;
}
.shop-options{
  margin:1rem;
  width:370px;
  overflow: hidden;
  border-radius: 5px;
}
.opt-img{
  transition:transform 1s ease;
  height: 100%;
  width: 100%;
}
.opt-img:hover{
  transform: scale(1.1);
}
.opt-names{
  margin-top: 200px ;
  margin-left: 25px;
  position: absolute;
  z-index:2;
  border: none;
  background-color:white;
  padding:.5rem;
  text-decoration: none;
  transition:1s ease;
}

.opt-names:hover{
  background-color:#E74C3C;
  color:white;
}
#f{
  height:20rem;
}
#s{
  height:16rem;
}
#wb{
  height:16rem;
}
#wc{
  height:20rem;
}
#a{
  height:20rem;
}
#b{
  background-size:contain;
  height:16rem;
}
.two{
  display: none;
}
 @media only screen and (max-width: 1060px) {
   .two{
     display: flex;
   }
   .one{
     display: none;
   }
   #s{
     height: 20rem;
   }
   /* #a{
     height: 22rem;
   } */
  /* .last {
    flex-direction: row;
  }*/
  .Shop-con{
    justify-content: center;

  } 
} 
@media only screen and (max-width: 882px) {
  .last{
    flex-direction: column;
  }
  .Shop-con{
    justify-content: center;
  }
  .shop-options{
    width:500px;
    height:18rem;
  }
}

@media only screen and (max-width: 672px) {
  .Shop-con{
    justify-content: center;
  }
  .shop-options{
    width:370px;
  }
  .each-slide{
    height: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .opt-names{
    margin:120px 0px 10px 200px!important;
    height:30px;
    width:90px;
    font-size: 10px;
    text-align: center;
  }
  .Shop-con{
    justify-content: center;
  }
  .shop-options{
    width:300px;
    height:10rem !important
  }
  .options{
    display: none;
  }
  .Nav{
    justify-content: space-between;
  }
.each-slide{
  height: 250px;
}
.l-icons{
  display:none;
}
.home-icon{
  display:block;
}
}
